<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="github-dalkoran" value="https://nuget.pkg.github.com/dalkoran/index.json" protocolVersion="3"/>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3"/>
	</packageSources>
	<packageSourceCredentials>
		<github-dalkoran>
			<add key="Username" value="dalkoran" />
			<add key="ClearTextPassword" value="%GITHUB_PACKAGES_DALKORAN%" />
		</github-dalkoran>
	</packageSourceCredentials>
</configuration>